.html
{
	background: #7F7F7F url("../images/gradienttile.png") repeat-x left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 551px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 4px;
	margin-bottom: 20px;
}

#pu87
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u87
{
	z-index: 2;
	width: 1160px;
	height: 96px;
	margin-right: -10000px;
	margin-top: 73px;
}

#u401
{
	z-index: 3;
	margin-bottom: -6px;
	width: 485px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 336px;
}

#menuu196
{
	z-index: 5;
	width: 550px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 302px;
}

#u412
{
	width: 136px;
	min-height: 19px;
	margin-right: -10000px;
}

#u415-4
{
	width: 136px;
	min-height: 12px;
	margin-right: -10000px;
}

#u413:hover #u415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u413:active #u415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u419
{
	width: 136px;
	min-height: 19px;
	margin-right: -10000px;
	left: 138px;
}

#u421-4
{
	width: 136px;
	min-height: 12px;
	margin-right: -10000px;
}

#u413.MuseMenuActive #u415-4,#u420:hover #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u420:active #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u509
{
	width: 136px;
	min-height: 19px;
	margin-right: -10000px;
	left: 276px;
}

#u513-4
{
	width: 136px;
	min-height: 12px;
	margin-right: -10000px;
}

#u420.MuseMenuActive #u421-4,#u512:hover #u513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u512:active #u513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u433
{
	width: 136px;
	min-height: 19px;
	margin-right: -10000px;
	left: 414px;
}

#u413,#u420,#u512,#u434
{
	width: 136px;
}

#u437-4
{
	width: 136px;
	min-height: 12px;
	margin-right: -10000px;
}

#u512.MuseMenuActive #u513-4,#u434:hover #u437-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u434:active #u437-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u434.MuseMenuActive #u437-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u487
{
	z-index: 30;
	width: 129px;
	margin-right: -10000px;
	left: 514px;
}

#pu700
{
	width: 0.01px;
	margin-left: 287px;
	margin-top: 23px;
	position: relative;
}

#u700
{
	z-index: 38;
	width: 120px;
	position: relative;
	margin-right: -10000px;
}

#u848
{
	z-index: 56;
	width: 114px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 264px;
}

#ppu712-7
{
	width: 0.01px;
	margin-left: 253px;
	margin-top: 12px;
	position: relative;
}

#pu712-7
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u712-7
{
	z-index: 47;
	width: 191px;
	min-height: 124px;
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u718
{
	z-index: 55;
	width: 136px;
	min-height: 43px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 27px;
}

#u710-7
{
	z-index: 40;
	width: 191px;
	min-height: 124px;
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u712-4,#u710-4
{
	font-size: 12px;
	line-height: 2;
}

#u712-2,#u712-5,#u710-2,#u710-5
{
	font-size: 16px;
	font-style: italic;
}

#u716
{
	z-index: 54;
	width: 135px;
	min-height: 43px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 27px;
}

#u827-6
{
	z-index: 32;
	width: 920px;
	min-height: 37px;
	margin-left: 20px;
	margin-top: 42px;
}

body
{
	padding-top: 18px;
}

#page .verticalspacer
{
	clear: both;
}

