#u87
{
	-pie-box-shadow: 0px 0px 30px #323232;
	-moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
	border-style: none;
	border-color: transparent;
	background-color: #212121;
	position: relative;
}

#u415-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u413:hover #u415-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u413:active #u415-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u421-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u420:hover #u421-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u420:active #u421-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u513-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u512:hover #u513-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u512:active #u513-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u437-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-size: 10px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u413.MuseMenuActive #u415-4,#u420.MuseMenuActive #u421-4,#u512.MuseMenuActive #u513-4,#u434.MuseMenuActive #u437-4
{
	border-style: none;
	border-color: transparent;
}

#u434:hover #u437-4 p
{
	color: #29ABE2;
	visibility: inherit;
}

#u434:active #u437-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u413.MuseMenuActive #u415-4 p,#u420.MuseMenuActive #u421-4 p,#u512.MuseMenuActive #u513-4 p,#u434.MuseMenuActive #u437-4 p
{
	color: #0071BC;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u401
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u87_align_to_page,#menuu196,#u412,#u413,#u419,#u420,#u509,#u512,#u433,#u434,#u487
{
	position: relative;
}

