.html
{
	background: #7F7F7F url("../images/gradienttile.png") repeat-x left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 551px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 4px;
	margin-bottom: 20px;
}

#pu87
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u87
{
	z-index: 2;
	width: 1160px;
	height: 96px;
	margin-right: -10000px;
	margin-top: 73px;
}

#u401
{
	z-index: 3;
	margin-bottom: -6px;
	width: 485px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 336px;
}

#menuu196
{
	z-index: 5;
	width: 550px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 302px;
}

#u412
{
	width: 136px;
	min-height: 19px;
	margin-right: -10000px;
}

#u415-4
{
	width: 136px;
	min-height: 12px;
	margin-right: -10000px;
}

#u413:hover #u415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u413:active #u415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u419
{
	width: 136px;
	min-height: 19px;
	margin-right: -10000px;
	left: 138px;
}

#u421-4
{
	width: 136px;
	min-height: 12px;
	margin-right: -10000px;
}

#u413.MuseMenuActive #u415-4,#u420:hover #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u420:active #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u509
{
	width: 136px;
	min-height: 19px;
	margin-right: -10000px;
	left: 276px;
}

#u513-4
{
	width: 136px;
	min-height: 12px;
	margin-right: -10000px;
}

#u420.MuseMenuActive #u421-4,#u512:hover #u513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u512:active #u513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u433
{
	width: 136px;
	min-height: 19px;
	margin-right: -10000px;
	left: 414px;
}

#u413,#u420,#u512,#u434
{
	width: 136px;
}

#u437-4
{
	width: 136px;
	min-height: 12px;
	margin-right: -10000px;
}

#u512.MuseMenuActive #u513-4,#u434:hover #u437-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u434:active #u437-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u434.MuseMenuActive #u437-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u487
{
	z-index: 30;
	width: 129px;
	margin-right: -10000px;
	left: 514px;
}

#pamphletu774
{
	z-index: 38;
	width: 0.01px;
	height: 127px;
	padding-bottom: 90px;
	margin-left: 262px;
	margin-top: 23px;
	position: relative;
}

#u775
{
	position: absolute;
	width: 380px;
	left: 200px;
}

#u775popup
{
	z-index: 39;
}

#u781
{
	z-index: 40;
	width: 380px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u782-6
{
	z-index: 41;
	width: 340px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u786
{
	z-index: 47;
	width: 380px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u787-6
{
	z-index: 48;
	width: 340px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u782-2,#u787-2
{
	font-size: 18px;
	color: #6B6B6B;
	font-weight: bold;
}

#u776
{
	z-index: 54;
	width: 380px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u777-6
{
	z-index: 55;
	width: 340px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u777-2
{
	color: #6B6B6B;
	font-weight: bold;
}

#u777
{
	font-size: 18px;
}

#u782-4,#u787-4,#u777-4
{
	line-height: 1.4;
	color: #999999;
}

#u791
{
	z-index: 61;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#u796
{
	position: absolute;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 3px;
	top: -7px;
	left: -10px;
}

#u796:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u797-4
{
	z-index: 63;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u796:hover #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u796:active #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u796.PamphletThumbSelected #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u796:hover #u797-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u796:active #u797-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u792
{
	position: absolute;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 3px;
	top: 33px;
	left: -10px;
}

#u792:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u793-4
{
	z-index: 68;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u792:hover #u793-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u792:active #u793-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u792.PamphletThumbSelected #u793-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u792:hover #u793-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u792:active #u793-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u794
{
	position: absolute;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 73px;
	left: -10px;
}

#u794:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u796.PamphletThumbSelected,#u792.PamphletThumbSelected,#u794.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u795-4
{
	z-index: 73;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u794:hover #u795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u794:active #u795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u794.PamphletThumbSelected #u795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u794:hover #u795-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u794:active #u795-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u796.PamphletThumbSelected #u797-4 p,#u792.PamphletThumbSelected #u793-4 p,#u794.PamphletThumbSelected #u795-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u827-6
{
	z-index: 32;
	width: 920px;
	min-height: 37px;
	margin-left: 20px;
	margin-top: 81px;
}

body
{
	padding-top: 58px;
}

#page .verticalspacer
{
	clear: both;
}

