.html
{
	background: #7F7F7F url("../images/gradienttile.png") repeat-x left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 551px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 4px;
	margin-bottom: 138px;
}

#pu87
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u87
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 73px;
}

#u87_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 962px;
	left: -99px;
}

#u87_position_content
{
	margin-top: 9px;
	margin-bottom: -6px;
}

#menuu196
{
	z-index: 5;
	width: 514px;
	left: 320px;
}

#u412
{
	width: 127px;
	min-height: 19px;
	margin-right: -10000px;
}

#u415-4
{
	width: 127px;
	min-height: 12px;
	margin-right: -10000px;
}

#u413:hover #u415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u413:active #u415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u419
{
	width: 127px;
	min-height: 19px;
	margin-right: -10000px;
	left: 129px;
}

#u421-4
{
	width: 127px;
	min-height: 12px;
	margin-right: -10000px;
}

#u413.MuseMenuActive #u415-4,#u420:hover #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u420:active #u421-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u509
{
	width: 127px;
	min-height: 19px;
	margin-right: -10000px;
	left: 258px;
}

#u513-4
{
	width: 127px;
	min-height: 12px;
	margin-right: -10000px;
}

#u420.MuseMenuActive #u421-4,#u512:hover #u513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u512:active #u513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u433
{
	width: 127px;
	min-height: 19px;
	margin-right: -10000px;
	left: 387px;
}

#u413,#u420,#u512,#u434
{
	width: 127px;
}

#u437-4
{
	width: 127px;
	min-height: 12px;
	margin-right: -10000px;
}

#u512.MuseMenuActive #u513-4,#u434:hover #u437-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u434:active #u437-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u434.MuseMenuActive #u437-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 0px -10000px 0px 0px;
}

#u401
{
	z-index: 3;
	left: 336px;
	margin-top: 3px;
}

#u487
{
	z-index: 30;
	width: 129px;
	margin-right: -10000px;
	left: 514px;
}

#pamphletu569
{
	z-index: 32;
	width: 0.01px;
	height: 127px;
	padding-bottom: 90px;
	margin-left: 195px;
	margin-top: 23px;
	position: relative;
}

#u570
{
	position: absolute;
	width: 380px;
	left: 200px;
}

#u570popup
{
	z-index: 33;
}

#u576
{
	z-index: 34;
	width: 380px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u577-7
{
	z-index: 35;
	width: 340px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u579
{
	z-index: 40;
	width: 130px;
}

#u571
{
	z-index: 45;
	width: 380px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u572-7
{
	z-index: 46;
	width: 340px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u577-3,#u572-3
{
	font-size: 18px;
	color: #6B6B6B;
	font-weight: bold;
}

#u574
{
	z-index: 51;
	width: 130px;
}

#u581
{
	z-index: 56;
	width: 380px;
	height: 217px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u582-7
{
	z-index: 57;
	width: 340px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u582-3
{
	color: #6B6B6B;
	font-weight: bold;
}

#u578,#u573,#u583
{
	float: left;
	margin-right: 17px;
}

#u584
{
	z-index: 62;
	width: 130px;
}

#u582,#u582-2
{
	font-size: 18px;
}

#u577-5,#u572-5,#u582-5
{
	line-height: 1.4;
	color: #999999;
}

#u597
{
	z-index: 67;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
}

#u600
{
	position: absolute;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 3px;
	top: -7px;
	left: -10px;
}

#u600:hover
{
	margin: 0px;
}

#u601-6
{
	z-index: 69;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u600:hover #u601-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u600:active #u601-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u600.PamphletThumbSelected #u601-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u600:hover #u601-6 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u600:active #u601-6 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u602
{
	position: absolute;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 38px;
	top: 33px;
	left: -10px;
}

#u602:hover
{
	margin: 0px;
}

#u603-3
{
	z-index: 76;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u602:hover #u603-3
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u602:active #u603-3
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u602.PamphletThumbSelected #u603-3
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 7px -10000px 0px 0px;
}

#u602:hover #u603-3 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u602:active #u603-3 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u598
{
	position: absolute;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 73px;
	left: -10px;
}

#u600.PamphletThumbSelected,#u602.PamphletThumbSelected,#u598:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u598.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
}

#u599-4
{
	z-index: 80;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
}

#u598:hover #u599-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u598:active #u599-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u598.PamphletThumbSelected #u599-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u598:hover #u599-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u598:active #u599-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u600.PamphletThumbSelected #u601-6 p,#u602.PamphletThumbSelected #u603-3 p,#u598.PamphletThumbSelected #u599-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

body
{
	padding-top: 58px;
}

#page .verticalspacer
{
	clear: both;
}

